<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Process Search Team</title>
    <style>
        html {
            border-style: double;
            border-color: orange;
            border-width: 0.5rem;
        }
        h1 {
            text-align: center;
            color: orangered;
            text-decoration-line: underline;
        }
        body {
            margin: 1rem;
        }
        strong {
            color: orangered;
        }
    </style>
</head>

<body>

    <h1>Fantasy Team Information</h1>

    <h2>Here is some information about the Team you searched:</h2>

    <div>
        <p>
            The Team Name: <strong> <%- searchTeamName %> </strong> 
            <br>
            <br>
            The Players are:
            <br>
            Player 1: <strong> <%- searchTeamPlayerOne %> </strong> <br> 
            Player 2: <strong> <%- searchTeamPlayerTwo %> </strong> <br>
            Player 3: <strong> <%- searchTeamPlayerThree %> </strong> <br>
            Player 4: <strong> <%- searchTeamPlayerFour %> </strong> <br>
            Player 5: <strong> <%- searchTeamPlayerFive %> </strong> <br>
            <br>
            The Team Rating is: <strong> <%- searchTeamRating %> </strong>
        </p> 
    </div>

    <div>
        <ul>
            <li>To go back Home, click on: <a href="/">Home Page</a></li>
            <li>To create a Team, click on: <a href="/createTeam">Create Team</a></li>
            <li>To Search a team, click on: <a href="/searchTeam">Search Team</a></li>
        </ul>
    </div>

</body>

</html>